#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  /*background-image: url("img/startScreenWallpaper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  background: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #fff;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 25px;
  text-align: center;
  margin: 0;
}

.serif {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 3px;
  text-align: center;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.startPageButtons {
  display: flex;
  flex-direction: column;
}

.btn {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  background: none;
  padding: 1em 3em;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
  letter-spacing: 6px;
  font-size: 24px;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  animation: fadein 1s;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: top 250ms ease-in-out;
  z-index: -1;
}

.btn:hover::after {
  top: 0;
}

.btn:hover {
  color: #000;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.titleSub {
  font-size: 2.5rem;
  letter-spacing: 10px;
}

.startBtn {
  font-size: 1rem;
  position: absolute;
  bottom: 50px;
}

.selectionBody {
  display: flex;
  align-items: flex-start;
  /*height: 400px;*/
}
.selectionBody > * {
  margin: 0 5em;
}

.arrow {
  opacity: 0.4;
  height: 100%;
  display: flex;
  align-items: center;
}
.arrow svg {
  max-width: 60px;
  fill: #fff;
}

.articleColumn {
  width: 350px;
  height: 600px;
}

.list .articleItem {
  padding: 1.5em 2em;
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: opacity 250ms ease-in-out;
}
.list .articleItem:hover, .list .resultItem:hover {
  opacity: 0.5;
}
.list .articleItem:nth-of-type(2n) {
  background: #1f1f1f;
}
.list .articleItem:nth-of-type(2n+1) {
  background: #1a1a1a;
}

.columnTitle {
  font-weight: 600;
  opacity: 0.2;
  letter-spacing: 5px;
}

.refresh {
  display: flex;
  justify-content: center;
}
.refresh svg {
  max-width: 40px;
  fill: #fff;
  cursor: pointer;
  margin: 1em;
}

.selectedArticle {
  outline: 2px solid #a7a7a7;
}

.searchBar {
  width: 100%;
  background: #1f1f1f;
  border: none;
  padding: 1em 2em;
  margin: 0 0 3em 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.resultItem {
  padding: 1em 2em;
  margin: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: opacity 250ms ease-in-out;
}

.resultItem:nth-of-type(2n) {
  background: #1f1f1f;
}

.resultItem:nth-of-type(2n+1) {
  background: #1a1a1a;
}

#content {
  margin: 0;
}

#firstHeading {
  text-align: left;
  letter-spacing: 2px;
}

.wrapperMainArticle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.leftColumn, .rightColumn {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 2em 0 2em;
}

.wrapperMainArticle {
  font-family: "Montserrat", sans-serif;
}

.startContainer {
  max-width: 100%;
}

#wiki > * {
  font-family: sans-serif;
}

#wiki {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.dashedArrow svg {
  max-height: 500px;
  fill: #fff;
  opacity: 0.3;
}

.articleTitle {
  font-weight: bolder;
  letter-spacing: 3px;
  opacity: 0.5;
  color: #fff;
}
.articleTitle svg {
  max-width: 20px;
  fill: #fff;
  cursor: pointer;
}

.articleName {
  font-size: 1.5rem;
  max-width: 100%;
  overflow-wrap: break-word;
  hyphens: auto;
}

.largeCountDisplay {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}

.pathContainer {
  width: 100%;
}

.itemContainer {
  max-height: 250px;
  height: 250px;
  overflow-y: scroll;
  width: 100%;
  scrollbar-color: rgba(255, 255, 255, 0.2) #262626;
}

.pathItem {
  margin: 0;
  padding: 1em;
  text-align: center;
  font-weight: 600;
  hyphens: auto;
  overflow-wrap: break-word;
}

.pathItem:nth-of-type(2n) {
  background: #1f1f1f;
}

.pathItem:nth-of-type(2n+1) {
  background: #1a1a1a;
}

.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winPopup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.winPopupContent {
  position: absolute;
  background: #181818;
  width: 40%;
  height: 60%;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Montserrat, sans-serif;
}
.winPopupContent h2 {
  font-size: 3rem;
  letter-spacing: 3px;
}

.winArticleContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.winArticleContainer svg {
  width: 40px;
  fill: rgba(255, 255, 255, 0.25);
}
.winArticleContainer .winArticles {
  font-size: 1.4rem;
  font-weight: 600;
  max-width: 250px;
  overflow-wrap: break-word;
  hyphens: auto;
}

.winStats {
  margin-top: 3em;
}
.winStats .winStatsItem {
  width: 40%;
  margin: 0 auto 1em auto;
}
.winStats .winStatsItem p {
  margin: 0.5em 2em;
  font-size: 1rem;
  font-weight: 600;
}
.winStats .winStatsItem p span {
  font-size: 2.2rem;
}
.winStats svg {
  max-width: 30px;
  fill: rgba(255, 255, 255, 0.25);
}

.closeBtn {
  width: 30px;
  fill: rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(calc(-100% - 8px));
  cursor: pointer;
}

.cancelBtn {
  width: 100%;
}
.cancelBtn button {
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  background: none;
  border: solid 2px rgba(255, 255, 255, 0.25);
  width: 100%;
  color: rgba(255, 255, 255, 0.25);
  display: block;
  padding: 0.5em 1em;
  cursor: pointer;
}

#targetDisplay {
  margin-bottom: 0.4em;
}

.redirects {
  margin: 0.2em 0;
  font-style: italic;
  opacity: 0.5;
}

.previewBorder {
  border: 5px solid yellow;
  position: relative;
}

.previewBorder::after {
  content: "PREVIEW";
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  color: #000;
  font-size: 5rem;
  opacity: 0.5;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
